@inherits LayoutComponentBase

<div class="page">
    
        <NavMenu />
   

    <main>
        <article class="content px-4">
            @Body
        </article>
        <div class="to-bottom" style="position:fixed;bottom:0;width:100%;float:right;">
        
            <div class="top-row px-4" style="float:right;">
            <a href="https://docs.microsoft.com/aspnet/" class="btn btn-info" target="_blank">About</a>
             </div>
        </div>
        
    </main>
</div>
