@page "/counter"
<p>CurrentCount : @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
 
@code {
    private int currentCount = 0;
    private bool shouldRender = false;
 
    private void IncrementCount()
    {
        shouldRender = true;
        currentCount++;
    }
 
    protected override bool ShouldRender()
    {
        return shouldRender;
    }
}